<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}Scheduling{% endblock %}</title>
		{% load staticfiles %}
		<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:700, 600,500,400,300' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'data/main1.css' %}" />
		<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <script type="text/javascript" href="{% static 'data/date.js' %}"></script>
		<script src="https://code.highcharts.com/highcharts.js"></script>
		<script src="https://code.highcharts.com/modules/data.js"></script>
		<link rel="stylesheet" type="text/js" href="{% static 'data/main.js' %}" />
	</head>
	<body>

<div class="side-nav">
    <div class="logo" id="side-nav-logo">
        {% if user.is_authenticated %}
            <span>Hi, {{ user.get_username }}</span>
        {% else %}
            <i class="fa fa-frown-o"></i>
            <span>No Logged in</span>
        {% endif %}
    </div>
			<nav>
				<ul id="">
                     <li id="li-login-status" class="">
                    {% if user.is_authenticated %}
                        <a href="{% url 'logout' %}">
                            <span><i class="fa fa-sign-out"></i></span>
                            <span>Sign out</span>
                        </a>
                    {% else %}
                        <a href="{% url 'login' %}">
                            <span><i class="fa fa-sign-in"></i></span>
                            <span>Sign in</span>
                        </a>
                    {% endif %}
					</li>
					<li id="" class="">
						<a href="{% url 'schedule' %}">
							<span><i class="fa fa-calendar-check-o"></i></span>
							<span>Scheduling</span>
						</a>
                    </li>
					<li id="" class="">
						<a href="{% url 'providers' %}">
							<span><i class="fa fa-drivers-license-o"></i></span>
							<span>Employees</span>
						</a>
					</li>
					<li id="" class="">
						<a href="{% url 'patients' %}">
							<span><i class="fa fa-address-book-o"></i></span>
							<span>Patients</span>
						</a>
					</li>
					<li id="" class="">
						<a href="{% url 'performance' %}">
							<span><i class="fa fa-bar-chart"></i></span>
							<span>Performance</span>
						</a>
					</li>
                    <li id="" class="">
						<a href="{% url 'performance_trend' %}">
							<span><i class="fa fa-bar-chart"></i></span>
							<span>Performance Trend</span>
						</a>
					</li>
                    <li id="" class="">
						<a href="{% url 'modelupload' %}">
							<span><i class="fa fa-upload"></i></span>
							<span>Upload model</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="main-content">
{#            <div class="btn-group show">#}
{#                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"#}
{#                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">#}
{#                    Kidney Clinic#}
{#                </button>#}
{#                <div class="dropdown-menu">#}
{#                    <a class="dropdown-item" href="#">Firestone Clinic</a>#}
{#                    <a class="dropdown-item" href="#">Other Clinic </a>#}
{#                </div>#}
{#            </div>#}
			<div class="main mx-auto">
				{% block body %}
			    {% endblock %}
            </div>
		</div>
    <script type="text/javascript" src="{% static 'data/navbar.js' %}"></script>
	</body>
</html>