{% extends 'data/base.html' %}
{% block title %}Patient Overview{% endblock %}
{% block body %}
    <div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
                <input type="search" id="pid" value="" class="form-control" placeholder="Search by Patient ID" onkeyup="showName(this.value)">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10">
                <table class="table" id="emp-table">
                    <thead>
                        <tr>
                            <th>Patient ID</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
                <hr>
            </div>
        </div>
    </div>

    <script type="text/javascript">

    var endpoint = {% url 'patients' %};
    var out = '';

    function showName(str) {
        $.ajax({
            method: "POST",
            url: endpoint,
            data: {
                'type' : 'patient_list',
                'pid': $("#pid").val()
            },
            dataType: "json",
            success: function (json) {
                $("#emp-table tbody > tr").remove();
                $.each(json, function(idx, obj){
                    var tr = $('<tr>');
                    var td = $('<td>');
                    td.append('<a href="./' + obj['patient_id'] + '">' + obj['patient_id'] + "</a>");
                    tr.append(td);
                    $('#emp-table tbody').append(tr);
                });
                console.log(json);
            },
            error: function (error_data) {
                $('#emp-name-list').text({{ name_list.firstname }});
                console.log("error");
                console.log(error_data);
            }
        })
    }
    </script>
{% endblock %}
