{% extends 'data/base.html' %}
{% block title %}This Northwind{% endblock %}
{% block body %}

    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <input type="search" id="empfname" value="" class="form-control" placeholder="Search by provider names" onkeyup="showName(this.value)">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10">
            <table class="table" id="emp-table">
                <thead>
                    <tr>
                        <th>Provider Name</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
            <hr>
        </div>
    </div>

     <script>
    var endpoint = {% url 'providers' %};
    var out = '';

    function showName(str) {
        $.ajax({
            method: "POST",
            url: endpoint,
            data: {
                'empfname': $("#empfname").val()
            },
            dataType: "json",
            success: function (json) {
                $("#emp-table tbody > tr").remove();
                $.each(json, function(idx, obj){
                    var tr = $('<tr>');
                    var td = $('<td>');
                    var a = $('<a>').text(obj['provider_name']);
                    td.append('<a href="./' + obj['provider_scheduled'] + '">' + obj['provider_name'] + "<a>");
                    tr.append(td);
                    $('#emp-table tbody').append(tr);
                    //out += obj['provider_name'] + ', ';
                });
                console.log(json);
            },
            error: function (error_data) {
                $('#emp-name-list').text({{ name_list.firstname }});
                console.log("error");
                console.log(error_data);
            }
        })
    }
    </script>
{% endblock %}