{% extends 'data/base.html' %}
{% block title %}Model Upload{% endblock %}
{% block body %}

    <div class="container">
        <form method="POST" class="form" id="theForm" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group row">
                <div class="custom-file">
                    <input type="file" {# class="custom-file-input col-sm-8" #} name="inputFileName">
                    <label for="inputFileName" {# class="custom-file-label col-sm-4" #}>Choose model file</label>
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-sm-2 col-sm-10">
                    <button type="submit" class="btn btn-primary" {#onclick="submit()"#}>Upload model</button>
                </div>
            </div>
        </form>
        {% if uploaded_file_url %}
        <div class="form-group row" id="success">
            <div class="alert alert-success" id="successMessage">File uploaded at: {{ uploaded_file_url }}</div>
        </div>
        {% elif wrong_file_extension is True %}
            <div class="form-group row" id="warning">
                <div class="alert alert-danger" id="warningMessage">Wrong File type</div>
            </div>
        {% else %}
        {% endif %}
    <br>
    <hr/>
    <br>
        {% if changed_file_name %}
        <div class="form-group row" id="success">
            <div class="alert alert-success" id="successMessage">Model changed to: {{ changed_file_name }}</div>
        </div>
        {% endif %}
        <form method="POST" class="form" id="selection-form" enctype="multipart/form-data">
            <div class="form-group row">
                <div class="offset-sm-2 col-sm-10">
                    <button type="submit" class="btn btn-primary" {#onclick="submit()"#}>Select model</button>
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Select model</th>
                    <th scope="col">Model Name</th>
                    <th scope="col">Upload Date</th>
                </tr>
                </thead>
                <tbody>
                {% for row in table_data %}
                <tr>
                    <th scope="row"><input type="radio" name="selectFileName" value="{{ row.1 }}" {% if row.0 is 1 %} checked {% endif %}></th>
                    <td>{{ row.1 }}</td>
                    <td>{{ row.2 }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </form>
    </div>
    <script>
        var endpoint = {% url 'login' %};
        var warningDiv = document.getElementById("warning");
        var warningMessage = document.getElementById("warningMessage");
        var successDiv = document.getElementById("success");
        var successMessage = document.getElementById("successMessage");

        function submit() {
            {#var csrftoken = $.cookie('csrftoken');#}
            {#$.ajax({#}
            {#    method: "POST",#}
            {#    url: endpoint,#}
            {#    data: {#}
            {#        'username': document.getElementById("inputFileName").value,#}
            {#        'password': document.getElementById("inputPassword").value,#}
            {#        'csrfmiddlewaretoken': '{{ csrf_token }}'#}
            {#    },#}
            {#    dataType: "json",#}
            {#    success: function (message) {#}
            {#        console.log('success');#}
            {#        if (message['verified'] === true) {#}
            {#            warningDiv.style.display = "none";#}
            {#            successDiv.style.display = "block";#}
            {#            successMessage.innerHTML = message['Message'];#}
            {#            document.getElementById("theForm").style.display = "none";#}
            {#            document.getElementById("side-nav-logo").innerHTML = "<span>Hi, " + message['username'] + "</span>";#}
            {#            document.getElementById('li-login-status').innerHTML =#}
            {#                "<a href=\"{% url 'logout' %}\">\n" +#}
            {#                "                            <span><i class=\"fa fa-sign-out\"></i></span>\n" +#}
            {#                "                            <span>Sign out</span>\n" +#}
            {#                "                        </a>";#}
            {#        } else {#}
            {#            warningDiv.style.display = "block";#}
            {#            successDiv.style.display = "none";#}
            {#            warningMessage.innerHTML = message['Message'];#}
            {#        }#}
            {#    },#}
            {#    error: function (error) {#}
            {#        console.log('error');#}
            {#        warningDiv.style.display = "block";#}
            {#        successDiv.style.display = "none";#}
            {#        warningMessage.innerHTML = error[0];#}
            {#    }#}
            {# });#}

        }
    </script>
{% endblock %}